:root {
  --du--v3--white: #ffffff;
  --du--v3--primary--color: #0099cc;
  --du--v3--primary--color--opacity: #0099ccb7;
  --du--v3--warning--color: #ff9900;
  --du--v3--warning--color--opacity: #ff9900b7;
  --du--v3--error--color: #ff6666;
  --du--v3--error--color--opacity: #ff6666b7;
}
